<div>
  <div>
    Perfect height: <input [(ngModel)]="_perfectHeight"/>
  </div>
  <div>
    Gallery 1
    <ngx-photo-gallery-mosaic
      [pictures]="pictures"
      [realWidthGetter]="widthGetterFn"
      [realHeightGetter]="heightGetterFn"
      [spaceBetween]="5"
      [perfectHeight]="perfectHeight"
      [lowSizePreviewGetter]="lowSizePreviewGetter"
      (click)="handleClick($event)">
      <ngx-photo-gallery-image-content>
        <ng-template ngxPhotoGalleryImageContentTemplate let-item="item">
          <div class="additional-info">
            <div>{{item.identifier}}</div>
          </div>
        </ng-template>
      </ngx-photo-gallery-image-content>

    </ngx-photo-gallery-mosaic>
  </div>

  <div>
    Gallery 2
    <ngx-photo-gallery-mosaic
      [pictures]="pictures"
      [realWidthGetter]="widthGetterFn"
      [realHeightGetter]="heightGetterFn"
      [spaceBetween]="5"
      [perfectHeight]="perfectHeight"
      [lowSizePreviewGetter]="lowSizePreviewGetter">
    </ngx-photo-gallery-mosaic>
  </div>
</div>
